.categories {
  display: flex;
}

.categories--indents {
  padding: 60px 0px;
}

.categories__blocks {
  margin-right: 30px;
}

.categories__blocks:last-child {
  margin-right: 0px;
}

.categories__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  color: #000000;
  padding-bottom: 30px;
  width: 100px;
}

.categories__links {
  padding-top: 25px;
  width: 255px;
  border-top: 1px solid #EFEFEF;
}

.categories__link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
  margin: 0px;
  margin-bottom: 10px;
  text-decoration: none;
}