.logo-cards {
  display: flex;
  flex-wrap: wrap;
}

.logo-cards__list {
  background-color: #FFFFFF;
  padding: 35px 64px;
  width: 25%;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}

.logo-cards__list:nth-child(4n) {
  border-right: none;
}

.logo-cards__img {
  width: 149px;
  height: 49px;
}

.logo-cards--marg {
  margin-bottom: 80px;
}