.navigation {
  text-align: center;
}

.navigation__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  text-decoration: none;
}

.navigation--padding {
  padding: 16px 0px;
}

.navigation__link--indent {
  margin-right: 30px;
}

.navigation__link--indent:last-child {
  margin-right: 0px;
}

.navigation__logo {
  width: 258px;
  height: 80px;
}

.navigation__link--phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;;
}

.navigation__link--main {
  font-weight: 400;
  font-size: 16px;  
  line-height: 19px;
  color: #000000;
  margin-right: 40px;
}

.navigation__link--main:last-child {
  margin: 0px;
}