@import "./normalize.css";
@import "./fonts.css";
@import "./blocks/navigation.css";
@import "./blocks/button.css";
@import "./blocks/info.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.wrapper {
  /* background-color: powderblue; */
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.main-nav {
  background-color: #EFEFEF;
  /* text-align: center; */
}



