@import "./normalize.css";
@import "./fonts.css";
@import "./blocks/navigation.css";
@import "./blocks/button.css";
@import "./blocks/info.css";
@import "./blocks/cards.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.wrapper {
  /* background-color: powderblue; */
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

p {
  margin: 0px;
}

.main-nav {
  background-color: #EFEFEF;
  /* text-align: center; */
}

.baner {
  background-color: #F13C6E;
  background-image: url('../images/main_chair.png');
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  padding: 192px 0px;
}

.description__title {
  margin: 0px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.description__text {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 50px;
  width: 308px;
}


.main {
  padding: 80px 0px;
  background-color: #EFEFEF;
}
